<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571353901131-50aoga522t296brr2sc8084qa3ke3nuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571353901131-50aoga522t296brr2sc8084qa3ke3nuu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>571353901131-1efal6slv5tvlcckom2vgrvpfm9oi0bp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwYnb2zUMGGCN_WYNp4tojYqO8PTe2qZs</string>
	<key>GCM_SENDER_ID</key>
	<string>571353901131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlmirTechnology.OzcanBoutique</string>
	<key>PROJECT_ID</key>
	<string>ozcan-boutique</string>
	<key>STORAGE_BUCKET</key>
	<string>ozcan-boutique.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571353901131:ios:f5538e8734a6b73dba05ce</string>
</dict>
</plist>